:root {
    --blue: #0e2f55;
    --darkblue: #0b2748;
    --gray: #b2b6ba;
    --darkgray: #6e7073;
    --white: #ffffff;
  }

.bi-red-transition-button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }

  .bi-red-transition-button:hover {
    background-color: #c70039;
    color: white;
  }

.bi-background-blue{
background-color: var(--blue);
}
.bi-background-darkblue{
background-color: var(--darkblue);
}
.bi-background-white{
    background-color: var(--white);
}
.bi-background-white:hover{
    filter: brightness(0.8);
}
.bi-background-white-nohover{
    background-color: var(--white);
}
.bi-background-gray{
    background-color: var(--gray);
}
.bi-background-gray-nohover{
    background-color: var(--gray);
}

.bi-background-gray:hover{
    filter: brightness(0.8);
}
.bi-background-darkgray{
    background-color:var(--darkgray) ;
}
.bi-background-darkgray:hover{
    filter: brightness(0.8);
}

.bi-text-blue{
    color: var(--blue);
}
.bi-text-darkblue{
    color:var(--darkblue);
}
.bi-text-gray{
    color:var(--gray);
}
.bi-text-darkgray{
    color:var(--darkgray);
}
.bi-text-white{
    color:var(--white);
}

.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ellipsis-container{
    overflow: overlay;
    text-overflow: ellipsis;
    white-space: normal;
}

.bi-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 4px solid var(--white); /* Light grey */
    border-top: 4px solid var(--blue); /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }